* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.square {
  border: 1px solid black;
  flex: 0 0 auto;
}
