* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-grid,
.div-grid {
  /* margin: 10px;
  padding: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.square {
  border: 1px solid black;
  flex: 0 0 auto;
}

.black-square {
  background-color: black;
}

.grid-row {
  display: flex;
}
